---
layout: default
title: Menu
---
<div id="menuWrapper">
	<div id="accordion">
			<h2>Chaud (hot)</h2>
				<section>
					<ol>
						{% for menuElements in site.data.chaud %}
						<li>
							<div>
								<img class="list_img" src="{{ site.baseurl }}/img/{{ menuElements.image }}.jpg">
								<p>{{ menuElements.name }}</p>
								<!-- <p>{{ menuElements.desc }}</p> -->
								<p>$<span>{{ menuElements.price }}</span></p>
							</div>
						</li>
						{% endfor %}
					</ol>
				</section>


		<h2>Froid (Cold Sandwiches/Salads)</h2>
		<section>
			<ol>
				{% for menuElements in site.data.froid %}
				<li>
					<div>
						<img class="list_img" src="{{ site.baseurl }}/img/froid/{{ menuElements.image }}.jpeg">
						<p>{{ menuElements.name }}</p>
						<!-- <p>{{ menuElements.desc }}</p> -->
						<p>$<span>{{ menuElements.price }}</span></p>
					</div>
				</li>
				{% endfor %}
			</ol>
		</section>

		<h2>From the Bakery</h2>
		<section>
			<ol>
				{% for menuElements in site.data.bakery %}
				<li>
					<div>
						<img class="list_img" src="{{ site.baseurl }}/img/bakery/{{ menuElements.image }}.jpeg">
						<p>{{ menuElements.name }}</p>
						<!-- <p>{{ menuElements.desc }}</p> -->
						<p>$<span>{{ menuElements.price }}</span></p>
					</div>
				</li>
				{% endfor %}
			</ol>
		</section>

		<h2>Classic Pastries</h2>
		<section>
			<ol>
				{% for menuElements in site.data.pastries %}
				<li>
					<div>
						<img class="list_img" src="{{ site.baseurl }}/img/pastries/{{ menuElements.image }}.jpeg">
						<p>{{ menuElements.name }}</p>
						<!-- <p>{{ menuElements.desc }}</p> -->
						<p>$<span>{{ menuElements.price }}</span></p>
					</div>
				</li>
				{% endfor %}
			</ol>
		</section>
	</div>
</div> <!-- End of menuWrapper-->
