
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul{
  display:none;
}

nav a:nth-of-type(n+2){
  display:none;
}

.hamburger{
    display: block;
}

//============================================== FEATURE

.index_wrapper{
    width: 90%;
}

#feature{
  height: 370px;
}

div#feature div.index_wrapper h1{
    font-size: 2.5em;
}

div#feature div.index_wrapper p{
    margin-top: 15px;
    line-height: 1.3em;
    font-size: 1.3em;
}

//============================================== RESPONSIVE GRID

.col {
  margin: 1% 0 1% 0%;
}

.span_3_of_3, .span_2_of_3, .span_1_of_3 {
  width: 100%;
}

.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 {
  width: 33%;
}

div.col.span_1_of_4:last-child{
  width: 100%;
}


#map, #contactInfo, #menu{
  width: 43%;
  padding: 15px 3%;
}
#menu{
  display: none;
}


//============================================== ACCORDIAN
#menuWrapper{
    max-width: 98%;
    margin: 10px auto;
}

div[id="accordion"] {
font-family: $mainFont;
width:100%;
}

div[id="accordion"] > h2 {
margin: 0;
color:$color-lightred;
background-color: $color-lightyellow;
cursor: pointer;
clear: both;
padding: 2px 0 5px 10px;
margin-bottom: 3px;
}

div#accordion section{
padding: 0 5px;
clear: both;
display: none;
}

div#accordion section ol {
list-style-type:none;
padding-left: 10px;
}

div#accordion section div{
width: 48%;
float: left;
background-color: $color-lightorangeTrans;
margin:1%;
height: 100%
}

div#accordion section div img{
width: 90%;
margin: 5%;
max-width: 100%;
}

div#accordion section div p{
width: 90%;
margin: 5%
}

//============================================== TABLE
.tableWrapper{
width: 100%;
margin-bottom: 10px;
}

//============================================== FOOTER
.footer_wrapper {
  width: 100%;
}

.site-footer, .content_wrapper:after {
  height: 158px;
}
