html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-image: url("../img/bg/blizzard_@2X.png");
}

//============================================== FEATURE

.index_wrapper{
    width: 100%;
}

#feature{
  height: 370px;
}

div#feature div.index_wrapper h1{
    font-size: 2.3em;
}

div#feature div.index_wrapper p{
    font-size: 1.5em;
}

#map, #contactInfo, #menu{
  width: 26%;
  padding: 15px 3%;
}

//============================================== ACCORDIAN
#menuWrapper{
  max-width: 96%;
  margin: 0 auto;
}
div[id="accordion"] {
font-family: $mainFont;
width:100%;
}

div[id="accordion"] > h2 {
margin: 0;
color:$color-lightred;
background-color: $color-lightyellow;
cursor: pointer;
clear: both;
padding: 2px 0 5px 10px;
margin-bottom: 3px;
}

div#accordion section{
padding: 0 5px;
clear: both;
display: none;
}

div#accordion section ol {
list-style-type:none;
padding-left: 10px;
}

div#accordion section div{
width: 31%;
float: left;
background-color: $color-lightorangeTrans;
margin:1%;
min-height: 275px;
}

div#accordion section div img{
width: 90%;
margin: 5%;
max-width: 100%;
}

div#accordion section div p{
width: 90%;
margin: 5%
}

//============================================== TABLE
.tableWrapper{
width: 90%;
margin: 0 auto;
margin-bottom: 10px;
}


//============================================== FOOTER
.footer_wrapper {
  width: 100%;
}
