html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-image: url("../img/bg/blizzard_@2X.png");
}

//============================================== FEATURE

.index_wrapper{
    width: 100%;
}

#feature{
  height: 370px;
}

div#feature div.index_wrapper h1{
    font-size: 2.3em;
}

div#feature div.index_wrapper p{
    font-size: 1.5em;
}

#map, #contactInfo, #menu{
  width: 26%;
  padding: 15px 3%;
}

//============================================== ACCORDIAN
#menuWrapper{
  max-width: 96%;
  margin: 0 auto;
}

div#accordion section ol {
list-style-type:none;
padding-left: 10px;
}

div#accordion section div{
width: 31%;
}

div#accordion section div img{
width: 90%;
}

//============================================== TABLE
.tableWrapper{
width: 90%;
margin: 0 auto;
margin-bottom: 10px;
}

//============================================== FOOTER
.footer_wrapper {
  width: 100%;
}

nav a:nth-of-type(n+2){
  display:none;
}

.mobile-menu ul li {
  display: block;
}

.hamburger{
    display: block;
}
