
  <footer class="site-footer footer_wrapper">
      <div class="footerIcons">
        <div class="section group">
          <div class="leftAlign"><a href="https://www.facebook.com/pages/Croissant-Gourmet/173255196018335?fref=ts">Facebook</a></div>
          <div class="leftAlign"><a href="http://www.yelp.com/biz/croissant-gourmet-winter-park">Yelp</a></div>
          <div class="leftAlign"><a href="https://twitter.com/CroGourmet">Twitter</a></div>
          <div class="leftAlign"><a href="https://instagram.com/croissantgourmet/">Instagram</a></div>
        </div>
      </div>
  		<div class="section group">
  			<div class="col span_1_of_3">
          <h4>ADDRESS</h4>
          <address>
            <p>120 East Morse Blvd</p>
            <p>Winter Park, Florida</p>
          </address>
  			</div>
  			<div class="col span_1_of_3">
  				<h4>PHONE</h4>
          <p>407.622.7753</p>
          <h4>FAX</h4>
          <p>407.622.7754</p>
  			</div>
        <div class="col span_1_of_3">
          <h4>HOURS</h4>
          <p>Open 7 days a week</p>
          <p>6:30AM­-6:00PM<p>
        </div>
  		</div>
  </footer>
