
  <footer>
  	<div class="footer_wrapper">
      <div class="section group">
        <div class="col span_3_of_4">
          <a href="/croissant/" class="brand-logo"><img src="{{ site.baseurl }}/img/footer_logo.png"></a>
        </div>
          
        <div class="col span_1_of_4">
        <a href="https://www.facebook.com/pages/Croissant-Gourmet/173255196018335?fref=nf" class="brand-logo">Facebook</a>
        </div>
      </div>
  		<div class="section group">
  			<div class="col span_1_of_4">
          <address>
  				Email to : <a href="mailto:webmaster@example.com">Jon Doe</a>.<br> 
  				</address>
  			</div>
  			<div class="col span_1_of_4">
  				<address>
          Visit us at:<br>
          http://croissantgourmet.com/<br>
  				</address>
  			</div>
  			<div class="col span_1_of_4">
  				<address>
          120 East Morse Blvd<br>
          Winter Park, Florida<br>
          </address>
  			</div>
        <div class="col span_1_of_4">
          <address>
          Contact<br>
          407.622.7753
          </address>
        </div>
  		</div>
  	</div>
  </footer>
