

//============================================== BASIC LAYOUT
body, div, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.content_wrapper{
    margin: 0 auto;
    max-width: 100%;
    min-height: 100%;
    margin-bottom: -142px;
}

.content_wrapper:after {
  content: "";
  display: block;
}

ul li{
    list-style-type: none;
}

.list_img{
    width: 100%;
}



//============================================== NAV BAR

nav{
  background: url(../img/nav_bg-07.png) repeat-x;
  width: 100%;
  padding: 23px 0 0 0;
  height: 118px;
  margin: -15px auto;
  position: absolute;
  top: 0;
  left: 0;
}

nav a:first-child{
    width: 112px;
    height: 90px;
    margin-left: 8%;
    float: left;
    text-align: center;
    background: url(../img/nav_logo.png) no-repeat center;
}

nav a:nth-child(2){
    margin-left: 58%;
}

nav a:nth-of-type(n+2){
    text-align: center;
    font-family: $mainFont;
    text-decoration: none;
    padding: 2%;
    line-height: 5em;
    color: $color-lightred;
        &:hover{
        color: $color-DarkBrown;
        };
}

div.mobile-menu{
  display: none;
}

.mobile-menu ul li {
  display: none;
}

.hamburger{
    display: none;
}

//============================================== FEATURE

.index_wrapper{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

#feature{
    background-image: url(../img/feature.png);
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    height: 420px;
    padding-top: 80px;
}

div#feature div.index_wrapper h1{
    margin-top: 60px;
    color: $color-DarkBrown;
    font-family: $font-feature;
    font-size: 3em;
}

div#feature div.index_wrapper p{
    color: $color-DarkBrown;
    font-family: $mainFont;
    font-weight: 300;
    font-size: 1.8em;
}

#menuWrapper{
    max-width: 70%;
    margin: 100px auto;
}

//============================================== BUTTON

#view_menuBtn{
    margin: 30px 0;
    padding:10px 30px;
    font-family: $mainFont;
    font-size: 1.2em;
    color: #efdac5;
    border-radius: 5px;
    border: 0;
    background-color: $color-DarkBrown;
}

//============================================== RESPONSIVE GRID
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
// .span_3_of_3 { width: 100%; }
// .span_2_of_3 { width: 66.13%; }
.span_1_of_3 {
  width: 32.26%;
}

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}


//============================================== 3 BROWSERS

#facebook, #insta, #menu{
  background: $color-lvory no-repeat;
  width: 22%;
  padding: 15px 5%;
}

//============================================== TABLE
.tableWrapper{
    padding: 40px 0 100px 0;
    width: 60%;
    margin: 0 auto 50px;
    font-family: $mainFont;
}

table{
  margin-top: 20px;
}
.tableProperty{
  width:25%;
}

.tableValue{
  width: 75%;
}

//============================================== FOOTER

footer{
    text-align: center;
    width: 100%;
    font-family: $mainFont;
    color: #736c67;
    background-color: $color-DarkBrown;
}

.footer_wrapper{
    margin: 0 auto;
}

.site-footer, .content_wrapper:after {
  /* .push must be the same height as footer */
	height: 142px;
}

address{
  display: inline-block;
}

.footerIcons{
  margin: 0 auto;
  width: 25%;
}

.leftAlign{
  float: left;
  margin: 0 auto;
}
