$color-navDarkBrown: rgba(53,42,28,.7);
$color-DarkBrown: rgba(53,42,28,1);
$color-lightbrown: #7d6b50;
$color-lightBlue: #94ccb9;
$color-lightyellow: #ffeca7;
$color-lightorange: #ffb170;
$color-lightred: #f07d65;

$mainFont: futura;